/* ======= google fonts ============= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* ======== css variables ========= */
:root {
  --primary-color: #7c5dfa;
  --secondary-color: #1e2139;
  --body-bg: #141625;
  --paid-status-bg: #1f2c3f;
  --paid-status-color: #32cf9b;
  --pending-status-bg: rgba(255, 143, 0, 0.06);
  --pending-status-color: #ff8f00;
  --small-text-color: #888eb0;
  --draft-bg: #252945;
  --delete-btn-bg: #ec5757;
  --edit-btn-bg: #252945;
}

/* ======== base style ============ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--body-bg);
  color: #fff;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

p {
  font-size: 0.8rem;
  color: var(--small-text-color);
}

.btn {
  padding: 7px 25px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* ========== sidebar css ========== */
.sidebar {
  width: 120px;
  height: 100%;
  background: var(--secondary-color) !important;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.sidebar__header,
.sidebar__bottom {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
  background: var(--primary-color);
}

.sidebar__bottom {
  background: var(--secondary-color) !important;
  border-top: 1px solid var(--primary-color);
}

.sidebar__bottom img {
  border-radius: 50%;
}



